@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="card mb-5 mb-xxl-8">
    <!--begin::Body-->
    <div class="card-body pb-0">
        <!--begin::Header-->
        <div class="d-flex align-items-center mb-3">
            <!--begin::User-->
            <div class="d-flex align-items-center flex-grow-1">
                <!--begin::Info-->
                <div class="d-flex flex-column">
                    <a href="#" class="text-gray-900 text-hover-primary fs-6 fw-bolder">Manage Your Profile</a>
                    <span class="text-gray-400 fw-bold">Change your account settings</span>
                </div>
                <!--end::Info-->
            </div>
            <!--end::User-->
        </div>
        <!--end::Header-->
        <!--begin::Post-->
        <div class="mb-7">
            <!--begin::Text-->
            <div class="row text-gray-800 mb-5">
                <div class="col">
                    <form id="change-password-form" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.OldPassword"></label>
                            <input asp-for="Input.OldPassword" class="form-control" />
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.NewPassword"></label>
                            <input asp-for="Input.NewPassword" class="form-control" />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Update password</button>
                    </form>
                </div>
            </div>

            <!--end::Text-->
        </div>
        <!--end::Post-->
    </div>
    <!--end::Body-->
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}