@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <link rel="canonical" href="Https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="bg-body">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Authentication - Signup Welcome Message -->
        <div class="d-flex flex-column flex-column-fluid">
            <!--begin::Content-->
            <div class="d-flex flex-column flex-column-fluid text-center p-5 py-lg-15">
                <!--begin::Logo-->
                <a href="" class="mb-2 pt-lg-5">
                    <img alt="Logo" src="/assets/Untitled_Artwork 1.jpg" class="h-300px mb-2" style="border-radius:25px" />
                </a>
                <!--end::Logo-->
                <!--begin::Wrapper-->
                <div class="pt-lg-5 mb-2">
                    <!--begin::Logo-->
                    @*<h1 class="fw-bolder fs-2qx text-gray-800 mb-7">Logged out of Help Ticket</h1>*@
                    <!--end::Logo-->
                    <!--begin::Message-->
                    <div class="fw-bold fs-3 text-muted mb-15">
                        You have successfully logged out.
                        <br />We hope you come back again soon!
                    </div>
                    <!--end::Message-->
                    <!--begin::Action-->
                    <div class="text-center">
                        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-lg btn-primary fw-bolder">Go to login!</a>
                    </div>
                    <!--end::Action-->
                </div>
                <!--end::Wrapper-->
                <!--begin::Illustration-->
                @*<div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-100px" style="background-image: url(/assets/media/illustrations/dozzy-1/17.png"></div>*@
                <!--end::Illustration-->
            </div>
            <!--end::Content-->
            <!--begin::Footer-->
            <div class="d-flex flex-center flex-column-auto p-5">
                <!--begin::Links-->
                <div class="d-flex align-items-center fw-bold fs-6">
                    <a href="https://www.jeremysteward.com" target="_blank" class="text-muted text-hover-primary px-2">Jeremy Steward</a>
                    <a href="https://www.jeremysteward.com" target="_blank" class="text-muted text-hover-primary px-2">Portfolio</a>
                    <a href="https://www.jeremysteward.com" target="_blank" class="text-muted text-hover-primary px-2">Contact</a>
                </div>
                <!--end::Links-->
            </div>
            <!--end::Footer-->
        </div>
        <!--end::Authentication - Signup Welcome Message-->
    </div>
    <!--end::Main-->
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="/assets/plugins/global/plugins.bundle.js"></script>
    <script src="/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--end::Javascript-->
</body>
<!--end::Body-->
</html>

@*<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}