@model RemyNewWebApp.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container" id="kt_content_container">
        <!--begin::Card body-->
        <div class="card-body pb-0 modal-content rounded">
            <!--begin::Heading-->
            <div class="card-px text-center pt-10 pb-5">
                <!--begin::Title-->
                <h2 class="fs-2x fw-bolder mb-0">Edit Project</h2>
                <h4 class="mb-5">@Model.Name</h4>
                <!--end::Title-->
                <!--begin::Modal body-->
                <div class="modal-body scroll-y px-3 px-lg-3 pt-0 pb-4">
                    <!--begin:Form-->
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-6">
                                <!--begin::Input group-->
                                <div class="d-flex flex-column mb-8 fv-row">
                                    <!--begin::Label-->
                                    <label asp-for="Name" class="d-flex align-items-center fs-6 fw-bold mb-2"></label>
                                    <!--end::Label-->
                                    <input type="text" class="form-control form-control-solid" asp-for="Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="d-flex flex-column mb-8 fv-row">
                                    <!--begin::Label-->
                                    <label asp-for="Description" class="d-flex align-items-center fs-6 fw-bold mb-2"></label>
                                    <!--end::Label-->
                                    <textarea rows="4" class="form-control form-control-solid" asp-for="Description"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <!--end::Input group-->
                                <div class="row">
                                    <div class="col-4">
                                        <!--begin::Input group-->
                                        <div class="d-flex flex-column mb-8 fv-row">
                                            <!--begin::Label-->
                                            <label asp-for="StartDate" class="d-flex align-items-center fs-6 fw-bold mb-2"></label>
                                            <!--end::Label-->
                                            <input type="date" class="form-control form-control-solid" asp-for="StartDate" />
                                            <span asp-validation-for="StartDate" class="text-danger"></span>
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <div class="col-4">
                                        <!--begin::Input group-->
                                        <div class="d-flex flex-column mb-8 fv-row">
                                            <!--begin::Label-->
                                            <label asp-for="EndDate" class="d-flex align-items-center fs-6 fw-bold mb-2"></label>
                                            <!--end::Label-->
                                            <input type="date" class="form-control form-control-solid" asp-for="EndDate" />
                                            <span asp-validation-for="EndDate" class="text-danger"></span>
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <div class="col-4">
                                        <!--begin::Input group-->
                                        <div class="d-flex flex-column mb-8 fv-row">
                                            <!--begin::Label-->
                                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">Priority</label>
                                            <!--end::Label-->
                                            <select class="form-select form-select-solid" asp-for="@Model.ProjectPriority" asp-items="ViewBag.ProjectPriorityId" data-placeholder="Choose Priority"></select>
                                            @*<input type="text" class="form-control form-control-solid" asp-for="ProjectPriority.Name" />*@
                                            <span asp-validation-for="ProjectPriority.Name" class="text-danger"></span>
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <!--begin::Actions-->
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" style="display:block; width:100%">
                                            <span class="indicator-label">Submit</span>
                                            <span class="indicator-progress">
                                                Please wait...
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                    </div>
                                    <!--end::Actions-->
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">Image</label>
                                    <input asp-for="@Model.ImageFormFile" class="form-control" type="file" accept=".png, .jpg, .jpeg, .gif"
                                           onchange="document.getElementById('imageFileData').src = window.URL.createObjectURL(this.files[0])" />
                                    <span asp-validation-for="@Model.ImageFormFile" class="text-danger"></span>
                                </div>
                                @*<label>Image Preview</label>*@
                                @if (Model.ImageFileData != null)
                                {
                                    <img id="imageFileData" class="img-fluid img-thumbnail mb-3" src="data:image/*;base64,@(Convert.ToBase64String(Model.ImageFileData))" alt="" />
                                }
                                else
                                {
                                    <img id="imageFileData" class="img-fluid img-thumbnail mb-3" style="object-fit:cover" src="~/assets/media/misc/qr.png" alt="" />
                                }
                            </div>
                        </div>
                      
                    </form>
                    <!--end:Form-->
                </div>
                <!--end::Modal body-->
            </div>
            <!--end::Heading-->
        </div>
        <!--end::Card-->

    </div>
    <!--end::Container-->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
